:root {
  --ms-size-icon: 0.85rem;
  --ms-margin-right: 5px;
  --ms-image: 2.5rem;
  --s-padding: 0.4rem;
  --main-source: "inter", sans-serif;
  --ms-padding: 1rem;
  --ms-gap: 10px;
  --s-gap: 5px;
}
